<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Stock App</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <!--<link rel=stylesheet type=text/css href='/static/style.css'>-->
    </head>
    <body>
        <div class=page>
            <h1>Plot Closing Stock Prices for Feb 2018.</h1>
            <div class=metanav>

                <h4>Enter ticker symbol, eg. GOOG</h4>
                <form id='input' method='post' action='index'>
                <p>
                    Ticker Symbol: <input type='text' name='ticker' />
                </p> 
                <p>
                    <input type="submit" value="Submit"> 
                </p>
                </form>
            </div>
        </div>
    </body>
</html>
